[[!meta robots="noindex"]]
[[!meta title="Welcome to the Tails Installation Assistant"]]
[[!meta stylesheet="bootstrap" rel="stylesheet" title=""]]
[[!meta stylesheet="inc/stylesheets/assistant" rel="stylesheet" title=""]]
[[!meta stylesheet="inc/stylesheets/router-install" rel="stylesheet" title=""]]
[[!meta title="Welcome to the Tails Installation Assistant"]]

[[!inline pages="install/inc/tails-installation-assistant.inline" raw="yes"]]

<h1>Welcome to the <br />
  <strong>Tails Installation Assistant</strong>
</h1>

<h4>Thank you for your interest in Tails.</h4>

<p>Installing Tails can be quite long but we hope you will still have good time :)</p>

<p>We will first ask you a few questions to choose your installation scenario and then guide you step by step.</p>

[[
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">Let's start the journey!</h3>
    </div>
  </div>
|install/os]]
