@import url("expert.css");
@import url("usb.css");
span.expert-usb, a.expert-usb {
  display: inline;
}
div.expert-usb, img.expert-usb, p.expert-usb {
  display: block;
}
li.expert-usb {
  display: list-item;
}

#content {
  padding-left: 50px;
}

h1:before {
  content: counter(step)'/7.';
}
