span.expert, a.expert {
  display: inline;
}
div.expert, img.expert, p.expert {
  display: block;
}
li.expert {
  display: list-item;
}

#content {
  padding-left: 20px;
}

.step-image {
  display: none;
}

.state-image {
  margin-right: 20em;
}

pre, p.pre {
  max-width: 58em;
  width: 58em;
}

div.note p.pre {
  width: 34em;
}
