@import url("clone.css");
span.install-clone, a.install-clone {
  display: inline;
}
div.install-clone, img.install-clone, p.install-clone {
  display: block;
}
li.install-clone {
  display: list-item;
}

h1:before {
  content: counter(step)'/6.';
}
