@import url("linux.css");
@import url("usb.css");
span.linux-usb, a.linux-usb {
  display: inline;
}
div.linux-usb, img.linux-usb, p.linux-usb {
  display: block;
}
li.linux-usb {
  display: list-item;
}

h1:before {
  content: counter(step)'/7.';
}
