@import url("mac.css");
@import url("dvd.css");
span.mac-dvd, a.mac-dvd {
  display: inline;
}
div.mac-dvd, img.mac-dvd, p.mac-dvd {
  display: block;
}
li.mac-dvd {
  display: list-item;
}

h1:before {
  content: counter(step)'/7.';
}
