@import url("scenarios.css");
h1 {
  margin-bottom: 70px;
}

h1:before {
  content: '' !important;
}

h3 {
  margin-bottom: 0px;
}

#needs h4 {
  margin-bottom: 0px;
  margin-top: 0px;
}

h4 small{
  font-size: 70%;
}

#steps h4 {
  margin-left: 75px;
}

.thumbnail {
  text-align: center;
  border: none;
}


#steps .thumbnail {
  position: relative;
}

#steps .caption {
  position: absolute;
  top: 140px;
  width: 100%;
}

#steps .caption h5 {
  text-align: center;
}

.you_need img {
  width: 70%;
}

.thumbnail img {
  max-width: none;
}

.step img {
  outline: 4px solid white;
  outline-offset: -2px;
}

#needs, #steps {
  margin-bottom: 50px;
  border: 1px solid #56347C;
  box-shadow: 10px 10px #56347C;
  border-radius: 4px;
}

#steps ol {
  list-style-type: none;
  margin-left: 70px;
}

#steps h4 {
  background: #0A0;
  color: white;
  padding: 15px;
  margin-left: -15px;
}
