@import url("scenarios.css");
span.title {
  display: block;
}

.sidebar {
  display: none;
}

#content {
  padding-left: 250px;
}

.step-image {
  position: absolute;
  left: 2.5em;
  height: 200px;
  width: 200px;
}

.step-image img {
  position: relative;
}

.state-image {
  text-align: center;
}

body {
  counter-reset: step;
}

h1:before {
  position: relative;
  left: -2.5em;
  font-size: 0.75em;
  counter-increment: step;
  margin-right: -2em;
}

/* Thiner border */

.step-image img {
  outline: 3px solid white;
  outline-offset: -4px;
  position: relative;
}

/* Scaling images */

img.screenshot {
  height: 70%;
  transition-duration: 0.3s;
  width: 70%;
}

img.screenshot:hover {
  height: 100%;
  opacity: 1;
  width: 100%;
}

/* Give some room to the title and the sections */

h1 {
  color: #56347C;
  font-weight: 400;
  margin-left: -150px;
  margin-top: 100px;
}

/* Stronger introduction  */

h1 + p, h1 + div + p{
  color: black;
  font-size: 18px;
}

/* Trophy is a trophy */

div.trophy {
  border: 5px solid #56347C;
  font-size: 17px;
  margin-top: 30px;
  padding-top: 20px;
  padding-bottom: 50px;
  position: relative;
  background-color: white;
}

div.trophy p {
  color: black;
  font-family: "Source Sans Pro Regular", "DejaVu Sans", "Verdana", "sans-serif";
  font-weight: 200;
}

/* Some more room to the special tips and tricks */

div.note, div.bug, div.caution, div.tip {
  background-color: white;
  border-radius: 4px;
  margin-left: 50px;
  padding: 20px;
  padding-left: 70px;
}

/* Links are _links_ */

#pagebody #content a {
  color: #0a0 !important;
  text-decoration: underline;
}

/* more room for the state */
.state-image {
  margin-top: 50px;
}

p {
  color: black;
}
