@import url("upgrade.css");
span.upgrade-tails, a.upgrade-tails {
  display: inline;
}
div.upgrade-tails, img.upgrade-tails, p.upgrade-tails {
  display: block;
}
li.upgrade-tails {
  display: list-item;
}

h1:before {
  content: counter(step)'/6.';
}
