[[!meta robots="noindex"]]
[[!meta title="Upgrade inside Tails"]]
[[!meta stylesheet="bootstrap" rel="stylesheet" title=""]]
[[!meta stylesheet="install/inc/stylesheets/assistant" rel="stylesheet" title=""]]
[[!meta stylesheet="install/inc/stylesheets/overview" rel="stylesheet" title=""]]
[[!meta stylesheet="install/inc/stylesheets/upgrade-tails" rel="stylesheet" title=""]]

[[!inline pages="install/inc/tails-installation-assistant.inline" raw="yes"]]

[[<span class="back">Back</span>|upgrade]]

<h1 class="text-center">Upgrade <strong>inside</strong>Tails</h1>

[[!inline pages="install/inc/overview" raw="yes"]]

[[
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title text-center">Let's go!</h3>
  </div>
</div>
|upgrade/tails]]

<div class="clearfix"></div>
