<div id="needs">
  <h3>You need:</h3>
  <div class="row you_need">
    <div class="col-sm-6 col-md-3">
      <div class="thumbnail">
        [[!img install/inc/icons/clock.png link="no"]]
        <div class="caption">
          <h4>

            <span class="windows-usb linux-usb mac-usb mac-dvd">1 or 2 hours</span>
            <span class="debian expert">1 hour</span>
            <span class="install-clone">15 minutes</span>
            <span class="upgrade-clone">10 minutes</span>
            <br />

            <span class="windows-usb linux-usb mac-usb mac-dvd debian expert upgrade-tails">
              <small>[[!inline pages="inc/stable_i386_iso_size_mib" raw="yes"]] to download</small><br />
            </span>

            <span class="windows-usb linux-usb mac-usb mac-dvd"><small>45 minutes to install</small></span>
            <span class="debian expert"><small>25 minutes to install</small></span>
            <span class="upgrade-tails"><small>20 minutes to upgrade</small></span>
          </h4>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-3 windows-usb linux-usb mac-usb">
      <div class="thumbnail">
        [[!img install/inc/icons/2-usb.png link="no"]]
        <div class="caption">
          <h4>2 USB sticks<br />
            <small>4 GB minimum</small> <br />
            <small>All data will be lost!</small>
          </h4>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-3 upgrade-clone upgrade-tails">
      <div class="thumbnail">
        [[!img install/inc/icons/1-usb.png link="no"]]
        <div class="caption">
          <h4>Your Tails</h4>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-3 debian expert clone mac-dvd upgrade-tails">
      <div class="thumbnail">
        [[!img install/inc/icons/1-usb.png link="no"]]
        <div class="caption">
          <h4>1 USB stick<br />
            <small>4 GB minimum</small> <br />
            <small>All data will be lost!</small>
          </h4>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-3 mac-dvd">
      <div class="thumbnail">
        [[!img install/inc/icons/1-dvd.png link="no"]]
        <div class="caption">
          <h4>1 DVD<br />
            <small>All data will be lost!</small>
          </h4>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-3 install-clone">
      <div class="thumbnail">
        [[!img install/inc/icons/1-usb.png link="no"]]
        <div class="caption">
          <h4>1 other Tails<br />
            <small>DVD or USB</small>
          </h4>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-3">
      <div class="thumbnail">
        [[!img install/inc/icons/screens.png link="no"]]
        <div class="caption">
          <h4>a smartphone<br />
            <small>
              another computer<br />
              or a printer
            </small>
          </h4>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="steps">
  <h3>Your steps:</h3>
  <ol>
    <li>
      <h4>
        First you will
          <span class="windows-usb linux-usb mac-usb">install a temporary Tails on the first USB stick.</span>
          <span class="mac-dvd">burn a temporary Tails on a DVD.</span>
          <span class="debian expert">install a Tails on your USB stick.</span>
          <span class="install-clone upgrade-clone">restart on the other Tails.</span>
          <span class="upgrade-tails">install and upgrade a temporary Tails.</span>
      </h4>
      <div class="row">
        <div class="col-md-3 col-md-offset-1 windows-usb linux-usb mac-usb mac-dvd debian expert upgrade-tails">
          <div class="thumbnail step">
            [[!img install/inc/infography/download-and-verify.png link="no"]]
            <div class="caption">
              <h5><span class="step-number"></span>Download</h5>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-md-offset-1 install-clone upgrade-clone">
          <div class="thumbnail step">
            [[!img install/inc/infography/restart-on-temporary-tails.png link="no"]]
            <div class="caption">
              <h5><span class="step-number"></span>Restart</h5>
            </div>
          </div>
        </div>
        <div class="col-md-3 windows-usb linux-usb mac-usb debian expert">
          <div class="thumbnail step">
            [[!img install/inc/infography/install-temporary-tails.png link="no"]]
            <div class="caption">
              <h5>Install</h5>
            </div>
          </div>
        </div>
        <div class="col-md-3 upgrade-tails">
          <div class="thumbnail step">
            [[!img install/inc/infography/install-upgrade-usb.png link="no"]]
            <div class="caption">
              <h5>Install</h5>
            </div>
          </div>
        </div>
        <div class="col-md-3 mac-dvd">
          <div class="thumbnail step">
            [[!img install/inc/infography/insert-dvd.png link="no"]]
            <div class="caption">
              <h5>Install</h5>
            </div>
          </div>
        </div>
        <div class="col-md-3 upgrade-tails">
          <div class="thumbnail step">
            [[!img install/inc/infography/upgrade-upgrade-usb.png link="no"]]
            <div class="caption">
              <h5>Upgrade</h5>
            </div>
          </div>
        </div>
        <div class="col-md-2 windows-usb linux-usb mac-usb  mac-dvd debian expert">
          <div class="thumbnail">
            [[!img install/inc/icons/restart.png link="no"]]
            <div class="caption">
              <h5>Restart</h5>
            </div>
          </div>
        </div>
      </div>
    </li>
    <li>
      <h4>
        Then you will
          <span class="windows-usb linux-usb mac-usb">install the final Tails on the second USB stick.</span>
          <span class="mac-dvd">install the final Tails on your USB stick.</span>
          <span class="install-clone">install Tails on your USB stick.</span>
          <span class="debian expert">configure it.</span>
          <span class="upgrade-clone upgrade-tails">upgrade your Tails.</span>
      </h4>
      <div class="row">
        <div class="col-md-2 col-md-offset-1 upgrade-tails">
          <div class="thumbnail">
            [[!img install/inc/icons/restart.png link="no"]]
            <div class="caption">
              <h5>Restart</h5>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-md-offset-1 windows-usb linux-usb mac-usb upgrade-tails upgrade-clone install-clone">
          <div class="thumbnail step">
            [[!img install/inc/infography/clone-temporary-tails.png link="no"]]
            <div class="caption">
              <h5>
                <span class="install-clone">Install</span>
                <span class="upgrade">Upgrade</span>
              </h5>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-md-offset-1 mac-dvd">
          <div class="thumbnail step">
            [[!img install/inc/infography/clone-dvd.png link="no"]]
            <div class="caption">
              <h5><span class="step-number"></span>Install</h5>
            </div>
          </div>
        </div>
        <div class="col-md-2 windows-usb linux-usb mac-usb mac-dvd install-clone">
          <div class="thumbnail">
            [[!img install/inc/icons/restart.png link="no"]]
            <div class="caption">
              <h5>Restart</h5>
            </div>
          </div>
        </div>
        <div class="col-md-1 debian expert">
        </div>
        <div class="col-md-3 windows-usb linux-usb mac-usb mac-dvd install-clone debian expert">
          <div class="thumbnail step">
            [[!img install/inc/infography/create-persistence.png link="no"]]
            <div class="caption">
              <h5><span class="step-number"></span>Configure</h5>
            </div>
          </div>
        </div>
        <div class="col-md-2 ">
          <div class="thumbnail">
            [[!img install/inc/icons/restart.png link="no"]]
            <div class="caption">
              <h5>Restart</h5>
            </div>
          </div>
        </div>
      </div>
    </li>
  </ol>
</div>
